// Skins for card elements.

.card {
  &-header {
    color: $main-heading;
    text-transform: uppercase;
  }

  &-content {
    color: $main-paragraph;
  }

  &1 {
    background-color: $card1;
  }

  &2 {
    background-color: $card2;
  }

  &3 {
    background-color: $card3;
  }
}
