// Layout to spread out items in cards.

.l-cardSpread {
  position: relative;

  & > .card-header {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  & > .card-content {
    margin-top: 1.5rem;
    line-height: 1.67;
  }

  & > .button {
    display: inline-block;
    position: absolute;
    bottom: 3rem;

    @media (max-width: $mobile-breakpoint) {
      position: static;
      margin-top: 1.5rem;
    }
  }
}
