// Three Column Layout, responsive.

.l-threeColumn {
  box-sizing: border-box;
  border-radius: $borderRadius-small;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 920px;
  height: 500px;
  margin: 5.5rem 1.5rem 0;

  @media (max-width: $mobile-breakpoint) {
    max-width: 450px;
    grid-template-columns: 1fr;
    height: auto;
  }

  & > * {
    padding: 3rem;
  }
}
