// Three Column Layout, responsive.

.l-threeColumn {
  box-sizing: border-box;
  border-radius: $borderRadius-small;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // grid-auto-flow: column;
  // grid-auto-columns: 1fr;
  max-width: 920px;
  // align-items: center;
  // justify-content: left;

  @media (max-width: $mobile-breakpoint) {
    grid-template-columns: 1fr;
    // flex-direction: column-reverse;
    // align-items: start;
    // max-width: 40.875rem;
    // width: 100vw;
    // margin: 1.5rem;
  }

  & > * {
    padding: 3rem;
    // flex-grow: 1;
  }
}
