// Colors
$card1: hsl(31, 77%, 52%);
$card2: hsl(184, 100%, 22%);
$card3: hsl(179, 100%, 13%);
$main-paragraph: hsla(0, 0%, 100%, 0.75);
$main-background: hsl(0, 0%, 95%);
$main-heading: $main-background;

// responsive

$mobile-breakpoint: 60rem;
$card-height: 45rem;
$card-width-mobile: 20rem;

// Misc
$borderRadius-small: 0.5rem;
