// Colors
$main-background: hsl(217, 54%, 11%);
$card-background: hsl(216, 50%, 16%);
$rule: hsl(215, 32%, 27%);
$main-heading: hsl(0, 0%, 100%);
$main-paragraph: hsl(215, 51%, 70%);
$accent: hsl(178, 100%, 50%);
$accent-transparent: hsla(178, 100%, 50%, 0.5);

// Misc
$borderRadius-small: 0.5rem;
$borderRadius-large: 1rem;
