// Fonts
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");
$sans: "Lexend Deca", sans-serif;
$header: "Big Shoulders Display", sans-serif;

// Page-level styles
body {
  font-family: $sans;
  font-size: 15px;
}

h1 {
  font-family: $header;
}
